@tailwind base;
@tailwind components;
@tailwind utilities;

p::first-letter {
    font-size: 150%;
    @apply text-red;
}

.text-xl::first-letter {
    @apply text-blue;
}

.text-lg::first-letter {
    @apply text-green;
}

.lights {
    position: absolute;
    width: 0px;
    opacity: 0.1;
    background-color: white;
    box-shadow: #e9f1f1 0px 0px 20px 2px;
    top: 100vh;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 0;
}

.x1 {
    animation: floatUp 4s infinite linear;
    transform: scale(1);
}

.x2 {
    animation: floatUp 7s infinite linear;
    transform: scale(1.6);
    left: 15%;
}

.x3 {
    animation: floatUp 2.5s infinite linear;
    transform: scale(0.5);
    left: -15%;
}

.x4 {
    animation: floatUp 4.5s infinite linear;
    transform: scale(1.2);
    left: -34%;
}

.x5 {
    animation: floatUp 8s infinite linear;
    transform: scale(2.2);
    left: -57%;
}

.x6 {
    animation: floatUp 3s infinite linear;
    transform: scale(0.8);
    left: -81%;
}

.x7 {
    animation: floatUp 5.3s infinite linear;
    transform: scale(3.2);
    left: 37%;
}

.x8 {
    animation: floatUp 4.7s infinite linear;
    transform: scale(1.7);
    left: 62%;
}

.x9 {
    animation: floatUp 4.1s infinite linear;
    transform: scale(0.9);
    left: 85%;
}

@-webkit-keyframes floatUp {
    0% {
        top: 100vh;
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    50% {
        top: 0vh;
        opacity: 0.8;
    }
    75% {
        opacity: 1;
    }
    100% {
        top: -100vh;
        opacity: 0;
    }
}
@-moz-keyframes floatUp {
    0% {
        top: 100vh;
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    50% {
        top: 0vh;
        opacity: 0.8;
    }
    75% {
        opacity: 1;
    }
    100% {
        top: -100vh;
        opacity: 0;
    }
}
@-o-keyframes floatUp {
    0% {
        top: 100vh;
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    50% {
        top: 0vh;
        opacity: 0.8;
    }
    75% {
        opacity: 1;
    }
    100% {
        top: -100vh;
        opacity: 0;
    }
}
@keyframes floatUp {
    0% {
        top: 100vh;
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    50% {
        top: 0vh;
        opacity: 0.8;
    }
    75% {
        opacity: 1;
    }
    100% {
        top: -100vh;
        opacity: 0;
    }
}
